{% extends "di-govuk-one-login-service-header/layouts/service-header.html" %}
{% extends "layouts/main.html" %}
{% set pageName = 'Personal details' %}

{% block pageTitle %}
  {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block header %}
  {{ govukOneLoginServiceHeader({
    signOutLink: "/one-login-signout",
    oneLoginLink: "/#",
    serviceNavigationParams: { 
      serviceName: "Claim a targeted retention incentive payment for further education teachers",
      navigationLabel: "Test label" 
    }
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">  

      {% if errors %}
      {{ govukErrorSummary({
        titleText: "There is a problem",
        errorList: errors
      }) }}
    {% endif %}

    <span class="govuk-caption-xl">{{ pageName }}</span>
      <h1 class="govuk-heading-l">Enter your National Insurance number</h1>

    <form method="post" novalidate>

      {% set dob = data.returnClaimantDob or {} %}

      {{ govukInput({
        label: {
          text: "Enter your national insurance number",
          classes: "govuk-label--m govuk-visually-hidden"
        },
        hint: {
          text: "It's on your National Insurance card, benefit letter, payslip or P60. For example 'QQ123456C'."
        },
        id: "return-claimant-national-insurance-number",
        name: "returnClaimantNationalInsuranceNumber",
        value: data.returnClaimantNationalInsuranceNumber,
        classes: "govuk-!-width-two-thirds",
        errorMessage: fieldErrors.returnClaimantNationalInsuranceNumber
      }) }}

      {{ govukButton({ text: "Continue" }) }}

    </form>
  </div>
</div>
{% endblock %}
